/* ------- General data -----------*/
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    text-decoration: none;
    list-style: none;
}

body{
    min-height: 100vh;
    width: 100%;
    font-size: 1.6rem;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(./weather_icons/banner.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

/* ---------------- HEADER ---------------------- */
header{
    margin: 0 20rem;
    padding: 3rem;
}

header > .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-view{
    position: relative;
    display: block;
    background: #fff;
    width: 37rem;
    border-radius: 5px;
}

.search-wrapper{
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem;
}

input{
    flex: 1;
    height: 3.125rem;
    font-size: 1.5rem;
}

input,
.search-wrapper > button{
    background: transparent;
    border: 0;
    outline: 0;
}

::placeholder{ color: #555; }

.search-wrapper > button .fa-solid{
    width: 1.7rem;
    color: #555;
    font-size: 1.7rem;
    cursor: pointer;
}

.search-view .city-list{
    position: absolute;
    top: 95%;
    left: 0;
    width: 100%;
    max-height: 360px;
    overflow-y: auto;
    border-radius: 0 0 5px 5px;
    border-block-start: 1px solid #3E3D40;
    background: #fff;
    z-index: 1000;
}

.search-view .city-list:empty{ min-height: 120px; }

.search-view .city{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding-inline: 1rem 1.5rem;
}

.search-view .city .city-link{
    position: absolute;
    box-shadow: none;
    inset: 0;
}

.search-result ul li{
    border-radius: 3px;
    padding: 1rem 0.625rem;
}

.search-result ul li:hover{ background: #e9f3ff; }

.city-name{
    font-size: 1.5rem;
    font-weight: 700;
}

.city-subtitle{
    font-size: 1.2rem;
    color: #555;
}

.btn-current-location{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1.2rem;    
    color: inherit;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    font-weight: 700;
    border: 1px solid #555;
}

.btn-current-location:hover{
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid #fff;
}

.btn-current-location[disabled]{
    background: #3E3D40;
    color: #7B7980;
    pointer-events: none;
    cursor: not-allowed;
}

/* ---------------------- MAIN ----------------------------- */

main{
    margin: 0 20rem;
    padding: 3rem;
    flex-grow: 1;
}

main > .container{
    display: flex;
    flex-direction: column;
}

.container .display-card{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    width: 90%;
    max-width: 550px;
    height: 450px;
    color: #fff;
    border-radius: 10px;
}

.container .display-card .head-weather{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 15px;
}

.container .display-card .head-weather .city-name,
.container .display-card .head-weather .fa-solid{
    font-size: 3rem;
}

.container .display-card span{
    position: absolute;
    top: 50%;
    left: 10%;
    font-size: 2.5rem;
}

.container .display-card .weather{
    align-self: center;
    padding: 23px;
    font-size: 3rem;
    margin-left: 5rem;
}

.container .display-card .weather .wrapper-weather{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.container .display-card .weather .wrapper-weather p:first-of-type{
    font-size: 1.7rem;
}

.container .display-card > ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5rem;
    padding: 2rem;
}

.container .display-card > ul > li{
    border: 2px solid; 
    padding-inline: 2rem 2rem;
    box-shadow: 6px 4px 8px -2px black;
}

.container .display-card > ul > li > p{
    display: inline-block;
    position: relative;
}

.container .display-card > ul > li > p:after{  /* le trait du souligné uniquement le texte */
    position: absolute;
    content: '';
    border-bottom: 1px solid #d2d7da;
    width: 100%;
    transform: translateX(-50%);
    bottom: -5px;
    left: 50%;
}

.container .display-card > ul > li > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem 1rem 1rem 0;
}






        /*---------------- forecast --------------------*/
.carousel{
    position: relative;
    overflow: hidden;
    /* border: 1px solid red; */
    width: 50vw;

    height: 200px;
    margin: 1rem auto 0;
}

.carousel_slider{
    position: relative;
    width: 50vw;
}

.weather-cards .carroussel_list{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    width: 100%;
    left:0;
    top: 50%;
    gap: 2rem;
    border-radius: 10px;
    padding: 1rem;
    
}

.weather-cards .carroussel_list > li {
    border: 1px solid black;
    height: 150px;
    width: 500%;
    border-radius: 5px;
    font-size: 1.3rem;
    animation: 5s slide infinite linear;
}

.weather-cards .carroussel_list > li:hover{
    box-shadow: 6px 4px 8px -2px #fff;
    border: 1px solid #fff;
    transform: scale(1.05);
}

.weather-cards .carroussel_list > li.active{
    box-shadow: 6px 4px 8px -2px #fff;
    border: 1px solid #fff;
    scale: 1.03;
}

.weather-cards .carroussel_list > li > .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-evenly;
    color: #fff;
}

.weather-cards .carroussel_list > li > .card:first-child{
    font-weight: 700;
}


/*------------------------- Footer -----------------------------------*/
footer{
    align-self: center;
    font-size: 1.2rem;
    font-style: italic;
}

footer p:last-child{
    text-align: center;
}