/* ------- General data -----------*/


html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

body{
    min-height: 100vh;
    width: 100%;
    font-size: 1.6rem;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(./weather_icons/banner.jpg);
    background-position: center;
    background-size: cover;
}

/* ---------------- HEADER ---------------------- */
header{
    margin: 0 20rem;
    padding: 3rem;
    border: 1px solid black;

}

header > .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-view{
    position: relative;
    display: block;
    background: #fff;
    width: 37rem;
    border-radius: 5px;
}

.search-wrapper{
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem;
}

input{
    flex: 1;
    height: 3.125rem;
    font-size: 1.5rem;
}

input,
.search-wrapper > button{
    background: transparent;
    border: 0;
    outline: 0;
}

::placeholder{ color: #555; }

.search-wrapper > button .fa-solid{
    width: 1.7rem;
    color: #555;
    font-size: 1.7rem;
    cursor: pointer;
}

.search-view .city-list{
    position: absolute;
    top: 95%;
    left: 0;
    width: 100%;
    max-height: 360px;
    overflow-y: auto;
    border-radius: 0 0 5px 5px;
    border-block-start: 1px solid #3E3D40;
    background: #fff;
}

.search-view .city-list:empty{ min-height: 120px; }

.search-view .city{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding-inline: 1rem 1.5rem;
}

.search-view .city .city-link{
    position: absolute;
    box-shadow: none;
    inset: 0;
}

.search-result ul li{
    border-radius: 3px;
    padding: 1rem 0.625rem;
}

.search-result ul li:hover{ background: #e9f3ff; }

.city-name{
    font-size: 1.5rem;
    font-weight: 700;
}

.city-subtitle{
    font-size: 1.2rem;
    color: #555;
}

.btn-current-location{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1.2rem;    
    color: inherit;
    border-radius: 30px;
    background: linear-gradient(to right, #ff105f, #ffad06);
    
}

.btn-current-location[disabled]{
    cursor: not-allowed;
    background: #3E3D40;
    color: #7B7980;
}   